 <!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-padrao}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/lista-licores.css}" />
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-8">
							<h1>
								Lista licores
							</h1>
						</div>

						<div class="col-xs-4">
							<div class="aw-page-header-controls">
								<a class="btn btn-primary" th:href="@{/licores/novo}">
									<i class="fa fa-plus-square"></i>

									<span class="hidden-xs hidden-sm">Cadastro licor</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="alert  alert-success"
					th:if="${!#strings.isEmpty(mensagem)}">
					<i class="fa fa-check-circle"></i>

					<span th:text="${mensagem}">Mensagem sucesso!</span>
				</div>

				<div class="table-responsive">
					<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
						<thead class="aw-table-header-solid">
							<tr>
								<th class="av-table-licores-col-codigo">Código</th>
								<th>Nome/Local</th>
								<th class="av-table-licores-col-tipo">Sabor</th>
								<th class="av-table-licores-col-valor">Valor</th>
								<th class="av-table-licores-col-icons"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="licor: ${licores}">
								<td class="text-center"
									th:text="${licor.id}">1</td>

								<td>
									<a th:href="@{/licores/{id}(id=${licor.id})}"
										th:text="${licor.nome}">Licor Cachoeira</a>
								</td>

								<td th:text="#{|saborLicor.${licor.sabor}|}">Umbu</td>

								<td class="text-right"
									th:text="|R$${{licor.valor}}|">55,00</td>

								<td class="text-center">
									<form method="POST" 
										th:onsubmit="'return confirm(\'Posso remover ' + ${licor.nome} + '?\');'"
										th:action="@{/licores/{id}(id=${licor.id})}">
										<input type="hidden" name="_method" value="DELETE" />

										<button type="submit" class="btn btn-danger btn-xs">
											<span class="fa fa-trash"></span>
										</button>
									</form>
								</td>
							</tr>
							<tr th:if="${licores.empty}">
								<td colspan="5">Nenhum licor cadastrado</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</section>
</body>
</html>
   